.wrapper-2colum{
    height: 500px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}

.wrapper-3colum{
    height: 500px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    column-gap: 3em;
    row-gap: 2em;
}

.wrapper-3row{
    /* background-color: #9EDF9C; */
    display: grid;
    grid-template-rows: 40% 30% 15%;
    text-align: center;
}

.wrapper-2row{
    /* background-color: #9EDF9C; */
    display: grid;
    grid-template-rows: 2fr 1fr ;
    text-align: center;
}