{% extends "base.html" %}
{%block title%}home{%endblock%}
{%block css%} <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"> {%endblock%}
{%block content%}
<main>
    <!-- <div class="section-home"> -->

        <section class="wrapper-2colum home">
            <article class="telaraña">
                <h2 class="eb-garamond">Transform your life with healthy eating</h2>
                <p>Discover how to create a healthy and budget-friendly diet with our AI—for
                    free! Get personalized plans tailored to your budget and lifestyle, without
                    the stress or hassle. Start today!</p>
                <button class="button-home">presioname</button>
            </article>
            <article class="img-platoDeWebos"></article>
        </section>
    <!-- </div> -->

    <!-- <div class="section-bat"> -->
        <section class="wrapper-2colum bateo">
            <article class="gif-bateo-comida"></article>
            <article class="telaraña">
                <h2 class="eb-garamond">Transform your life with healthy eating</h2>
                <p>Discover how to create a healthy and budget-friendly diet with our AI—for
                    free! Get personalized plans tailored to your budget and lifestyle, without
                    the stress or hassle. Start today!</p>
                <button class="button-home">presioname</button>
            </article>
        </section>
    <!-- </div> -->

    <!-- <div class="section-tools"> -->
        <section class="wrapper-3colum tools">
            <article class="wrapper-2row title">
                <h2 class="eb-garamond">Transform your life with healthy eating</h2>
                <p>Discover how to create a healthy and budget-friendly diet with our AI—for
                    free! Get personalized plans tailored to your budget and lifestyle, without
                    the stress or hassle. Start today!</p>
            </article>
            <article class="wrapper-3row tools">
                <div class="circle-img"><article class="img-centro libreta"></article></div>
                <h3 class="eb-garamond">Transform your life with healthy eating</h3>
                <p>Discover how to create a healthy and budget-friendly diet with our AI—for
                    free! Get personalized plans tailored to your budget and lifestyle, without
                    the stress or hassle. Start today!</p>
            </article>
            <article class="wrapper-3row tools">
                <div class="circle-img"><article class="img-centro naranja"></article></div>
                <h3 class="eb-garamond">Transform your life with healthy eating</h3>
                <p>Discover how to create a healthy and budget-friendly diet with our AI—for
                    free! Get personalized plans tailored to your budget and lifestyle, without
                    the stress or hassle. Start today!</p>
            </article>
            <article class="wrapper-3row tools">
                <div class="circle-img"><article class=" img-centro basketball"></article></div>
                <h3 class="eb-garamond">Transform your life with healthy eating</h3>
                <p>Discover how to create a healthy and budget-friendly diet with our AI—for
                    free! Get personalized plans tailored to your budget and lifestyle, without
                    the stress or hassle. Start today!</p>
            </article>
        </section>
    <!-- </div> -->
 </main>
{%endblock%}